/**
 * Global variables and helpers for the codecademy app
 *
 * This file should not output any css when compiled
 *
 * It should only include variables, mixins, functions,
 * and other SCSS constructs that do not output and CSS without
 * being invoked.
 */
.button__3QyyZ7VfF20gYLvlba4bzy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border: none;
  background: none;
  outline: none;
  width: auto;
  height: 100%;
  padding: 0 1.1rem;
  cursor: pointer;
  left: -8px; }
  .button__3QyyZ7VfF20gYLvlba4bzy:hover, .button__3QyyZ7VfF20gYLvlba4bzy.active__3G23BnUo54b_LohtzReol1 {
    background-color: #0b161d;
    text-decoration: none !important; }
  .button__3QyyZ7VfF20gYLvlba4bzy .exerciseTitle__DMOI_fKuWDiNeRfuuknlN {
    color: white;
    font-size: 16px;
    padding-left: 1.2rem;
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }

.burger__4P7-7iPTdceddCJKQSFUg,
.burger__4P7-7iPTdceddCJKQSFUg:before,
.burger__4P7-7iPTdceddCJKQSFUg:after {
  pointer-events: none;
  border-radius: 1px;
  height: 1px;
  width: 18px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 0.15s ease-in; }

.burger__4P7-7iPTdceddCJKQSFUg {
  position: relative; }
  .burger__4P7-7iPTdceddCJKQSFUg:before {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  .burger__4P7-7iPTdceddCJKQSFUg:after {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  .active__3G23BnUo54b_LohtzReol1 .burger__4P7-7iPTdceddCJKQSFUg {
    background-color: transparent; }
    .active__3G23BnUo54b_LohtzReol1 .burger__4P7-7iPTdceddCJKQSFUg:before {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .active__3G23BnUo54b_LohtzReol1 .burger__4P7-7iPTdceddCJKQSFUg:after {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .close__2pot0AW8lJ8x-K9dxddXaS .burger__4P7-7iPTdceddCJKQSFUg:before {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg); }
  .close__2pot0AW8lJ8x-K9dxddXaS .burger__4P7-7iPTdceddCJKQSFUg:after {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg); }

/**
 * Global variables and helpers for the codecademy app
 *
 * This file should not output any css when compiled
 *
 * It should only include variables, mixins, functions,
 * and other SCSS constructs that do not output and CSS without
 * being invoked.
 */
.showHeader__1DPMm-lVsCbpuRUE68nuOv {
  top: 50px; }

.wall__1chfRb-bjNqZ6zwEiMUEwV {
  position: relative;
  margin: auto;
  align-self: center;
  padding: 40px;
  z-index: 15;
  background-color: #ffffff;
  max-width: 37.5rem;
  min-width: 25rem; }
  .showHeader__1DPMm-lVsCbpuRUE68nuOv .wall__1chfRb-bjNqZ6zwEiMUEwV {
    top: -50px; }
  .wall__1chfRb-bjNqZ6zwEiMUEwV.anonTop__1328ybUH94mUIIsooNrgLl {
    top: -20px; }
  .wall__1chfRb-bjNqZ6zwEiMUEwV.noPadding__nSmTmBIj8loR_FptW2f7m {
    padding: 0; }

.type-glass__3rERzal8Fqg5P1CXUbW8uP {
  background-color: transparent;
  max-width: 100%;
  width: auto; }

.type-screen__14ey5SVlK5e8JxNBvT08rY {
  background-color: transparent; }

/**
 * Global variables and helpers for the codecademy app
 *
 * This file should not output any css when compiled
 *
 * It should only include variables, mixins, functions,
 * and other SCSS constructs that do not output and CSS without
 * being invoked.
 */
.modal__3Cwx_o9N5phrZNL3nPxg-0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: 400px;
  font-family: "Oxygen", "Segoe UI", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.header__2T7njBrkMIdfwPfdF0o4Qn {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #34b3a0; }

.content__1h0fkuLcfMFOEv4xX89vUd {
  background-color: #122532;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px; }

.contentBody__26KE1nVM4_l7evcuIFmi1g {
  display: flex;
  width: 100%;
  align-items: center; }

.contentHeading__HGluaV4Q4H4Kf31ZVxoAF {
  display: block;
  color: #ffffff;
  font-size: 1.5rem; }

.contentDescription__3JStWqvcSY6bSb2E6T0JkF {
  opacity: 0.8; }

.startButton__1zirL3nW5mSh4m_57ojMjt {
  display: block;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.compact__ORNaEknpxEPzlJT-wHC8Y {
  padding: 1rem; }
  .compact__ORNaEknpxEPzlJT-wHC8Y .contentHeading__HGluaV4Q4H4Kf31ZVxoAF {
    flex: 1;
    padding-right: 1rem; }
  .compact__ORNaEknpxEPzlJT-wHC8Y .contentDescription__3JStWqvcSY6bSb2E6T0JkF {
    padding-top: 1rem; }

.expanded__3Kd58bzsOPIOLbi_t7eZRR {
  text-align: center; }
  .expanded__3Kd58bzsOPIOLbi_t7eZRR .contentHeading__HGluaV4Q4H4Kf31ZVxoAF {
    padding: 1rem; }
  .expanded__3Kd58bzsOPIOLbi_t7eZRR .startButtonContainer__3FlDtQ060vLa7itR2KDC1t {
    width: 100%; }
  .expanded__3Kd58bzsOPIOLbi_t7eZRR .contentBody__26KE1nVM4_l7evcuIFmi1g {
    flex-direction: column; }
  .expanded__3Kd58bzsOPIOLbi_t7eZRR .startButtonContainer__3FlDtQ060vLa7itR2KDC1t,
  .expanded__3Kd58bzsOPIOLbi_t7eZRR .contentDescription__3JStWqvcSY6bSb2E6T0JkF {
    padding: 0 1rem 1rem; }

.contentHeadingThumbnail__3eTe_KgqGieWfS9ZUPJOcY {
  position: relative;
  display: block;
  height: auto;
  padding-bottom: 1rem;
  line-height: 0; }
  .contentHeadingThumbnail__3eTe_KgqGieWfS9ZUPJOcY .contentHeading__HGluaV4Q4H4Kf31ZVxoAF {
    line-height: 1.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent); }

.contentHeadingImage__1wT5JpzFLwNt2qyCCEQ6R4 {
  max-width: 100%;
  height: auto; }

/**
 * Global variables and helpers for the codecademy app
 *
 * This file should not output any css when compiled
 *
 * It should only include variables, mixins, functions,
 * and other SCSS constructs that do not output and CSS without
 * being invoked.
 */
.container__27SM4kaBUe3O6JhyOPlv1V {
  background-color: #152b39;
  opacity: 0.9;
  position: fixed;
  top: 3.125rem;
  bottom: 3.125rem;
  left: 0;
  right: 0;
  overflow: auto; }

.containerInner__ugwZb9FCadWkklxvGpUX9 {
  max-width: 736px;
  padding: 2rem 0; }

.subHeader__3b9V39OXwb1c3KCZOGhoow,
.questionItem__2Gf7hYakG2B1rBQDR4EHL3,
.answer__3ITTyHb3bywptf8BPQHepm,
.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  color: #ffffff !important; }

.header__2JHmoEMrGIbRdqewCxSWlb {
  color: #34b3a0;
  font-size: 28px;
  margin-bottom: 2rem;
  text-transform: uppercase; }

.subHeader__3b9V39OXwb1c3KCZOGhoow {
  font-size: 18px;
  margin-bottom: 2rem; }

.questionRow__1e1-WQAGyCl3yjVX9gbJJJ {
  border-top: 1px rgba(255, 255, 255, 0.15) solid;
  padding: 0.3rem 0rem; }

.questionItem__2Gf7hYakG2B1rBQDR4EHL3,
.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  text-align: left;
  font-size: 14px;
  font-family: Monaco, Menlo, "Ubuntu Mono", "Droid Sans Mono", Consolas, monospace; }

.questionItem__2Gf7hYakG2B1rBQDR4EHL3 {
  margin: 1rem 0rem; }

.commentField__VyJaLag7Q3QUFd4Ik_SRy {
  padding: 1rem;
  box-sizing: border-box;
  background: none;
  height: 5.625rem;
  width: 100%;
  resize: none;
  outline: none;
  box-shadow: 0 0 0 transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important; }
  .commentField__VyJaLag7Q3QUFd4Ik_SRy:focus {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.35) !important; }

.button__2UJ7PbQcEMSvlH_0gSTjZm {
  min-width: 150px;
  margin: 0 0.5rem; }

.buttonGroup__2AVjEQUfTYgWaCHMzJ6TJm {
  padding: 1rem 0; }

.ratingContainer__2nNzWy6LMifkK2pZAWbRNh .questionItem__2Gf7hYakG2B1rBQDR4EHL3 {
  max-width: 50%; }

.ratingContainer__2nNzWy6LMifkK2pZAWbRNh .rating__2y47p3sJHCWLK4zSqCdXiJ {
  margin-left: auto; }


/*# sourceMappingURL=b23cc107956bd42785d2.css.map*/