header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight:bold;
  border-bottom: black solid 1px;
}


div.logo {
  color: mediumaquamarine;
}

li {
color: black;
list-style: none;
display: inline-block;
padding:inherit;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

div {
  border: solid;
}
