header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight:bold;
  border-bottom: black solid 1px;
}


div.logo {
  color: mediumaquamarine;
}

li {
color: black;
list-style: none;

display: inline-block;
padding:inherit;
}
